<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<form action="AddProduct" >
	<div align="center">
	Provide below data to Add new product data<br><br>
	Product Number : <input type ="text" id ="productNumber" name="productNumber"><br><br>
	Product Name : <input type ="text" id ="productName" name="productName"><br><br>
	Product Category : <input type ="text" id ="productCategory" name="productCategory"><br><br>
	Product Price : <input type ="text" id ="productPrice" name="productPrice"><br><br>
	<input type="submit" value="submit">
	<input type="reset" value="cancel">
	</div>
	</form>
</body>
</html>