<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<form action="ChangePassword" >
		<br>
		<div align="center">
			Enter below details to change password <br> UserName : <input
				type="text" id="username" name="username"> <br>
			<br> New Password : <input type="password" id="newPassword"
				name="newPassword"><br>
			<br> Confirm Password : <input type="password"
				id="confirmPassword" name="confirmPassword"> <br>
			<br> <input type="submit" value="submit"> <input
				type="reset" value="cancel">

		</div>
	</form>
</body>
</html>