<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Sporty Shoes</title>
</head>
<body>
<form action="LoginPage">
	<h2 align="center">Welcome to sportyshoes.com website</h2>
	
		<h1 align="center">Login Page</h1>
		<div align="center">
			Enter Username : <input type="text" id="username" name="username">
			<br><br> 
			Enter Password : <input type="password" id="password" name="password"> 
			<br><br> 
			<input type="submit" value="submit"> 
			<input type="reset" value="cancel">
		</div>
	</form>
</body>
</html>