<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<form action="ViewPage">
		<h3>Welcome Admin</h3>
		<ul type="circle">
			<li><a href="AddProduct">Add Product</a></li>
			<li><a href="DeleteProduct">Delete Product</a></li>
			<li><a href="UserList">User List</a></li>
			<li><a href="ProductList">View product List</a></li>
			<li><a href="PurchaseReport">Purchase Report</a></li>
			<li><a href="ChangePassword">Change Password</a></li>
		</ul>
	</form>
</body>
</html>